@font-face {
  font-family: Helvetica, Arial, sans-serif;
  src: url('./fonts/helvetica.woff');
}

// Classes de cores (text)
.text-slate-50 {
  color: $slate-50;
}
.text-slate-100 {
  color: $slate-100;
}
.text-slate-200 {
  color: $slate-200;
}
.text-slate-300 {
  color: $slate-300;
}
.text-slate-400 {
  color: $slate-400;
}
.text-slate-500 {
  color: $slate-500;
}
.text-slate-600 {
  color: $slate-600;
}
.text-slate-700 {
  color: $slate-700;
}
.text-slate-800 {
  color: $slate-800;
}
.text-slate-900 {
  color: $slate-900;
}
.text-slate-950 {
  color: $slate-950;
}

// Classes de cores (background)
.bg-slate-50 {
  background-color: $slate-50;
}
.bg-slate-100 {
  background-color: $slate-100;
}
.bg-slate-200 {
  background-color: $slate-200;
}
.bg-slate-300 {
  background-color: $slate-300;
}
.bg-slate-400 {
  background-color: $slate-400;
}
.bg-slate-500 {
  background-color: $slate-500;
}
.bg-slate-600 {
  background-color: $slate-600;
}
.bg-slate-700 {
  background-color: $slate-700;
}
.bg-slate-800 {
  background-color: $slate-800;
}
.bg-slate-900 {
  background-color: $slate-900;
}
.bg-slate-950 {
  background-color: $slate-950;
}

.bg-blue-100 {
  background-color: $blue-100;
}
.bg-blue-500 {
  background-color: $blue-500;
}
.bg-blue-600 {
  background-color: $blue-600;
}

.bg-green-100 {
  background-color: $green-100;
}
.bg-green-500 {
  background-color: $green-500;
}
.bg-green-600 {
  background-color: $green-600;
}

.bg-emerald-100 {
  background-color: $emerald-100;
}
.bg-emerald-500 {
  background-color: $emerald-500;
}
.bg-emerald-600 {
  background-color: $emerald-600;
}

.bg-amber-100 {
  background-color: $amber-100;
}
.bg-amber-500 {
  background-color: $amber-500;
}
.bg-amber-600 {
  background-color: $amber-600;
}

.bg-red-100 {
  background-color: $red-100;
}
.bg-red-500 {
  background-color: $red-500;
}
.bg-red-600 {
  background-color: $red-600;
}

// Classes de cores de texto para ícones
.text-blue-600 {
  color: $blue-600;
}
.text-green-600 {
  color: $green-600;
}
.text-emerald-600 {
  color: $emerald-600;
}
.text-amber-600 {
  color: $amber-600;
}
.text-red-600 {
  color: $red-600;
}
